.single-wrapper {
	.single-header {
		padding-top: 160px;
		padding-bottom: 150px;
		background-size: cover;
		background-repeat: no-repeat;
		@include responsive(991) {
			padding-top: 100px;
			padding-bottom: 80px;
		}
		@include responsive(575) {
			padding-top: 60px;
			padding-bottom: 40px;
		}

		.page-title {
			font-size: 60px;
			font-weight: 900;
			color: #fff;
			margin-bottom: 20px;
			@include responsive(991) {
				font-size: 40px;
			}
			@include responsive(767) {
				font-size: 30px;
			}
			@include responsive(575) {
				margin-bottom: 5px;
				font-size: 25px;
			}
			@include responsive(380) {
				font-size: 20px;
			}
		}

		.rank-math-breadcrumb {
			font-size: 17px;
			font-weight: 400;
			color: #fff;

			a {
				color: inherit;

				&:hover {
					color: #FF0B0B;
				}
			}

			.separator {
				color: #FF0B0B;
			}
		}
	}

	.single-main {
		padding-top: 70px;
		padding-bottom: 150px;

		.post-img {
			margin-bottom: 41px;

			img {
				width: 100%;
				height: auto;
				max-width: 100%;
				max-height: 100%;
				border-radius: 16px 16px 0 0;
			}
		}

		.post-meta {
			@include flexbox();
			@include align-items(center);
			@include flex-wrap(wrap);
			margin-bottom: 35px;

			li {
				position: relative;
				padding-left: 28px;
				font-size: 17px;
				font-weight: 300;
				color: #787878;
				margin-right: 40px;

				&:before {
					content: '';
					background-image: url("../images/user.png");
					width: 17px;
					height: 17px;
					background-size: contain;
					background-repeat: no-repeat;
					position: absolute;
					top: 5px;
					left: 0;
				}

				&.post-date {
					&:before {
						background-image: url("../images/calendar.png");
					}
				}

				&.post-author {
					&:before {
						background-image: url("../images/user.png");
					}
				}
			}
		}
	}
}
