.team-wrapper-v2 {
	background-color: #EFF2F5;
	overflow: hidden;

	.section-header {
		background-size: cover;
		background-repeat: no-repeat;
		padding-top: 100px;
		padding-bottom: 30px;
		min-height: 443px;

		.section-title {
			text-align: center;
			font-size: 40px;
			font-weight: 900;
			text-transform: uppercase;
			color: #fff;
			position: relative;
			margin-bottom: 0;
			@include responsive(991) {
				font-size: 30px;
			}
			@include responsive(575) {
				font-size: 25px;
			}
		}
	}

	.team-slick-slider-wrapper {
		margin-top: -187px;
		padding-bottom: 145px;

		.team-slick-slider {
			.slick-slide {
				margin: 0 12px;
			}

			.slick-list {
				margin: 0 -12px;
			}

			.slick-arrow {
				width: 64px;
				height: 64px;
				border: .5px solid #D7D7D7;
				background-color: #fff;
				background-image: url("../images/arrow.png");
				background-repeat: no-repeat;
				background-position: center;
				font-size: 0;
				border-radius: 5px;
				position: absolute;
				z-index: 1;
				bottom: -90px;
				margin: 0;
				padding: 0;
				box-shadow: 0 3px 20px rgba(0, 0, 0, .1);
				@include responsive(575) {
					width: 40px;
					height: 40px;
				}

				&.slick-prev {
					left: calc(50% - 3px);
					@include transform(translateX(-100%));
				}

				&.slick-next {
					left: calc(50% + 3px);
					@include transform(rotate(180deg));
				}
			}

			.member-item-wrapper {
				.member-item {
					.member-img {
						padding-bottom: 100%;
						overflow: hidden;
						position: relative;

						img {
							position: absolute;
							width: 100%;
							height: 100%;
							object-fit: cover;
							border: 24px solid #fff;
							@include responsive(575) {
								border: 10px solid #fff;
							}
						}
					}

					.member-content {
						padding-top: 35px;
						padding-bottom: 20px;

						.text-1 {
							font-size: 15px;
							font-weight: 700;
							color: #FF0B0B;
							text-transform: uppercase;
							margin-bottom: 10px;
							text-align: center;
						}

						.text-2 {
							font-family: $secondary-font;
							color: #292C2E;
							font-size: 30px;
							font-weight: 700;
							margin-bottom: 25px;
							text-align: center;
							@include responsive(575) {
								font-size: 25px;
							}
						}

						.desc {
							padding: 0 24px;
							color: #787878;
							font-size: 17px;
							font-weight: 400;

							p {
								margin-bottom: 20px;

								&:last-child {
									margin-bottom: 0;
								}
							}
						}
					}
				}
			}
		}
	}
}
